{% load static %}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href={% url 'blog:index' %}>
      <img src={% static 'assets/img/apo.png' %} alt="Logo" width="70" height="24" class="d-inline-block align-text-top">
      Apo Blog
    </a>
    <button class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse"
        id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4"
              href="{% url 'blog:index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4"
              href="{% url 'blog:mountain_list' %}">
              Mountain</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4"
              href="{% url 'blog:flower_list' %}">
              Flower</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4"
              href="{% url 'blog:cat_list' %}">
              Cat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-lg-3 py-3 py-lg-4"
              href="{% url 'blog:dailylife_list' %}">
              Dailylife</a>
      </li>
      </ul>
    </div>
    <img src={% static 'assets/img/ukiuki-wakuwaku.gif' %} width="100" alt="">
  </div>
</nav>
