{% extends 'base.html' %}
{% load static %}
{% block title %}Apo Blog{% endblock %}
{% block header %}
<header class="masthead" style="background-image: url('{% static "assets/img/turugi.jpg" %}');">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1>{{object.title}}</h1>
        <h2 class="subheading">{{object.content|truncatechars:30}}</h2>
          <span class="meta">
            <a href={% url 'blog:index' %}>Apo Blog</a>
            {{object.posted_at}}に投稿／カテゴリ:{{object.category}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block contents %}
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <a href="#" id="like-btn" data-url="{% url 'blog:toggle_like' object.pk %}">
          {% if object.good > 0 %}
            <i class="fas fa-heart text-danger" id="like-icon"></i>
          {% else %}
            <i class="far fa-heart" id="like-icon"></i>
          {% endif %}
          <span id="like-count">{{ object.good }}</span>件
        </a>
        <hr>
        <div class="card" width=700px>
          <img src="{{ object.image1.url }}" class="card-img-top" style="width:100%; height:auto;" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ object.title }}</h5>
            <p class="card-text">{{object.content}}</p>
            <p class='text-end'>{{ object.posted_at | date:"Y年m月d日" }}</p>
          </div>
          {% if object.image2 %}
            <img src="{{ object.image2.url }}" class="card-img-bottom" style="width:100%; height:auto;" alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</article>

<script>
document.getElementById('like-btn').addEventListener('click', function(e) {
  e.preventDefault();
  const url = this.dataset.url;

  fetch(url, {
    method: 'GET',
    headers: {
      'X-Requested-With': 'XMLHttpRequest'
    }
  })
  .then(response => response.json())
  .then(data => {
    document.getElementById('like-count').textContent = data.good;
    const icon = document.getElementById('like-icon');
    icon.classList.remove('fas', 'far', 'text-danger');
    if (data.good > 0) {
      icon.classList.add('fas', 'fa-heart', 'text-danger');
    } else {
      icon.classList.add('far', 'fa-heart');
    }
  });
});
</script>
{% endblock %}
